* {
  font-family: monospace;
}

body {
  background-color: #282c34;
  color: #ffffff;
}

.msg {
  padding: 5px;
}

.fields {
  border: 1px solid #666666;
  padding: 5px;
}

.fields > * {
  margin-right: 5px;
}

.errorText {
  color: #ff0000;
  font-weight: bold;
}

.stats {
  border: 1px solid #666666;
  margin-top: 10px;
  padding: 5px;
}

.stats > table * {
  padding: 5px;
}

.stats > table th {
  background-color: #000033;
}

.stats > table .win {
  background-color: #006600;
}

.stats > table .fail {
  background-color: #660000;
}